doctype html
html
  head
    meta(charset="UTF-8")
    title Codekit JS Imports - npm
    link(href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet")
    link(href="/node_modules/slick-carousel/slick/slick.css" rel="stylesheet")
    style.
      .slick-slide {
        text-align: center;
        padding: 30px;
        background: navy;
        color: white;
        margin: 10px 0;
      }
  body
    .jumbotron.text-center
      h1 Fun with ES2015 imports!
      p The new M/E/W way
    .container
      .row
        .col-sm-4
          h3 Column 1
          p Lorem ipsum dolor..
          p Ut enim ad..
        .col-sm-4
          h3 Slick carousel!
          div(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
            div
              h3 1
            div
              h3 2
            div
              h3 3
            div
              h3 4
            div
              h3 5
            div
              h3 6
        .col-sm-4
          h3 Column 3
          p El hash md5 de "Hola mundo" es
            span#hash
    script(src="/node_modules/systemjs/dist/system.js")
    script(src="/scripts/index-min.js")
    script.
      System.config({ 
        map: {
          'jquery':         '/node_modules/jquery/dist/jquery.min.js',
          'slick-carousel': '/node_modules/slick-carousel/slick/slick.min.js',
          'md5':            '/node_modules/md5/md5.js',
          'crypt':          '/node_modules/crypt/crypt.js',
          'charenc':        '/node_modules/charenc/charenc.js',
          'is-buffer':      '/node_modules/is-buffer/index.js'
        }
      });
      System.import('/scripts/index-min.js');
